<!-- component -->
<!DOCTYPE html>
<html lang="es">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Hook</title>
</head>
<body>
<div class="flex flex-col bg-neutral-400">

    <!-- Barra de navegación superior -->
    <div class="bg-zinc-800 text-white shadow w-full py-3.5 px-4 flex items-center justify-between">
        <div class="flex items-center">
            <div class="flex">
                <img src="/img/JBU_logo.png" class="flex h-9 mx-2" alt="중부대 로고"/>
                <a href="/">
                    <img src="/img/Hook_logo.png" class="h-9 invert" alt="Hook 로고" />
                </a>
                <h2 class="font-bold text-2xl ml-6 my-auto"><a href="/admin">Admin Page</a></h2>
            </div>
            <div class="md:hidden flex items-center"> <!-- Se muestra solo en dispositivos pequeños -->
                <button id="menuBtn">
                    <i class="fas fa-bars text-gray-500 text-lg"></i> <!-- Ícono de menú -->
                </button>
            </div>
        </div>
        <a href="/auth/logout" class="block text-gray-500 py-2.5 px-4 my-2 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-500 hover:to-cyan-500 hover:text-white mt-auto" href="#">
            <i class="fas fa-sign-out-alt mr-2"></i>sign out
        </a>
    </div>

    <!-- 콘텐츠 영역 -->
    <div class="flex-1 flex flex-wrap  min-h-screen">
        <!-- 사이드 바 영역 -->
        <div class="p-2 bg-neutral-900 w-full md:w-60 flex flex-col md:flex" id="sideNav">
            <nav>
                <a class="block text-neutral-50 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-500 hover:to-cyan-500 hover:text-white" href="/admin">
                    <i class="fas fa-home w-9"></i>전체보기
                </a>
                <a class="block text-neutral-50 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-500 hover:to-cyan-500 hover:text-white" href="/admin/show/userList">
                    <i class="fas fa-users w-9"></i>회원 정보
                </a>
                <a class="block text-neutral-50 py-2.5 px-4 my-4 rounded transition duration-200 hover:bg-gradient-to-r hover:from-cyan-500 hover:to-cyan-500 hover:text-white" href="/admin/show/requestList">
                    <i class="fas fa-exchange-alt w-9"></i>진단 요청
                </a>
            </nav>
        </div>

        <!-- 콘텐츠 영역 -->
        <div class="flex-1 p-4 w-full md:w-1/2">

            <!-- 회원정보 영역 -->
            <div class="mt-8 bg-white p-4 shadow rounded-lg">
                <h2 class="text-gray-500 text-lg font-semibold pb-4">회원 정보</h2>
                <div class="my-1"></div> <!-- Espacio de separación -->
                <div class="bg-gradient-to-r from-cyan-300 to-cyan-500 h-px mb-6"></div> <!-- Línea con gradiente -->
                
                <table class="w-full table-auto text-sm">
                    <thead>
                        <tr class="text-sm leading-normal">
                            <th class="py-2 px-4 text-left bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">회원번호</th>
                            <th class="py-2 px-4 text-left bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">아이디</th>
                            <th class="py-2 px-4 text-left bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">이름</th>
                            <th class="py-2 px-4 text-left bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">이메일</th>
                            <th class="py-2 px-4 text-left bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">직장</th><td class="py-2 px-4 border-b border-grey-light">
                            <th class="py-2 px-4 text-left bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light">회원관리</th><td class="py-2 px-4 border-b border-grey-light">
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(user => { %>
                        <tr class="hover:bg-grey-lighter">
                            <td class="py-2 px-4 border-b border-grey-light"><%= user.num %></td>
                            <td class="py-2 px-4 border-b border-grey-light">
                                <a href="/admin/show/userInfo/<%= user.id %>"><%= user.id %></a>
                            </td>
                            <td class="py-2 px-4 border-b border-grey-light"><%= user.user_name %></td>
                            <td class="py-2 px-4 border-b border-grey-light"><%= user.email %></td>
                            <td class="py-2 px-4 border-b border-grey-light"><%= user.company %></td>
                            <td>
                                <form action="/admin/deleteUser" method="post">
                                    <input type="hidden" name="user" value="<%= user.id %>">
                                    <button type="submit">탈퇴</button>
                                </form>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>